body{
    background-color: rgb(235, 235, 235);
    font-family: 'SF';
}
nav .btn-secondary{
    background-color: rgb(148, 148, 148);
    border: none;
    border-radius: 0 10px 0 10px;
}
nav .btn-secondary:hover{
    background-color: rgb(195, 195, 216);
    color: black;
    cursor: pointer;
}
.imgslides{
    padding: 0 !important;
}
.card-con{
    text-align: center;
}
